{% extends "base.html" %}
{% block title %}Профиль пользователя {{ profile.username }}{% endblock %}

{% block content %}
  {% load user_filters %}
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      {% include "includes/author_item.html" with author=profile %}
      {% if request.user.is_authenticated %}
        {% if request.user != profile %}
          <div class="list-group list-group-flush">
            {% if following %}
              <a class="btn btn-lg btn-light" href="{% url 'profile_unfollow' profile.username %}" role="button"> 
                Отписаться 
              </a>
            {% else %}
              <a class="btn btn-lg btn-primary" href="{% url 'profile_follow' profile.username %}" role="button">
                Подписаться 
              </a>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
    </div>

    <div class="col-md-9">
      {% for post in page %}
        {% include "includes/post_item.html" with post=post %}
      {% endfor %}
      {% include "includes/paginator.html" %}
    </div>
  </div>

{% endblock %}